<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.space.challenge">

  <application
    android:name=".SpaceApplication"
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@drawable/app_icon"
    android:label="@string/application_name"
    android:largeHeap="true"
    android:logo="@drawable/app_icon"
    android:networkSecurityConfig="@xml/network_security_config"
    android:roundIcon="@drawable/app_icon"
    android:supportsRtl="false"
    android:theme="@style/Theme.07564dd2b6bfa2a9951593236d319712"
    tools:replace="android:supportsRtl"
    tools:targetApi="n" />

</manifest>